@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Roboto;
}    

body{
    background: black;
    justify-content: center;
}

fieldset{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom, #d896a2, #dfb0c4, #e4ccde, #eee6f2, #ffffff);    color: whitesmoke;
    font-weight: bold;
    width: 500px;
}
legend{
    font-size: 30px;
    text-align: center;
}
.radios{
    margin-right: 10px;
}
textarea{
    resize: none;
}
button{
    font-weight: bold;
    font-size: 16px;
}